.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
}

.logo{
    width: 40px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px
}

.nav-connect {
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 .36%,#B923E1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: .5s
}

.nav-connect:hover {
    transform: scale(1.05)
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: #fff
}

.nav-mob-close {
    display: none;
    cursor: pointer
}


.nav-mob-open {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        margin:20px 6%;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open{
        display: block;
        position: absolute;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 25px;
        right: 7%;
        width: 50px;
    }

    .navbar ul {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 250px;
        height: 100%;
        z-index: 2;
        transition: right .5s;
        right: -250px;
        padding-top: 80px
    } 

    .nav-menu li {
        font-size: 20px;
        padding-left: 50px;
        flex-direction: row;
        gap:2 0px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    background: #161513;
    color: #fff;
    font-family: outfit
}

.title-box {
    position: relative
}

.title-box h1 {
    padding: 0 30px;
    font-size: 60px;
    font-weight: 600
}

.title-box img {
    width: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1
}

@media (max-width: 768px) {
    .about-title img {
        width:130px;
        right: -20px
    }

    .title-box h1 {
        padding: 0;
        font-size: 40px
    }

    .title-box img {
        width: 100px;
        right: -40px
    }
}


